:root {
    --primary: #161561;
    --seconday: #537788;
    --space: 2.5%;
    --size: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(10, 9, 46);
    list-style-type: none;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
}

body {
    background-color: lightgray;
}
    

header {
    position: relative;
    height: 6vh;
    /* border-bottom: 10px solid #161561 ; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    background-color: var(--seconday);
    color: lightgray;
    padding-left: 20%;
    padding-top: 0.3%;
    padding-right: 1%;
}

header ul {
    display: flex;
    flex-wrap: wrap;
}

header ul li {
    margin: 20px;
    font-weight:700;
    border-bottom: 3px solid var(--seconday);
}

main {
    padding: var(--space);
}

main h2 {
    text-align: right;
    width: 20%;
    padding: var(--space);
}

section {
    display: flex;
}

article img {
    border: 5px solid var(--seconday);    
    filter: grayscale(80%);
    width: 100%;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    padding: var(--space);
}

footer h2 {
    width: 20%;
    padding: var(--space)
}

footer ul li{
    border-top: 3px solid var(--seconday);
}

a {
    font-size: 20px;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.hero {
    position: relative;    
    height: 30vh;
    border-bottom: 5px solid var(--primary);
}

.hero img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.hero h2 {
    background-color: lightblue;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1%;
    animation: start 10s;
}

.right-box {
    padding: var(--space);
    width: 70%;
}

.verticle {
    border-left: thick solid var(--primary);
}

.right {
    float: right;
}

.left {
    float: left;
}

.space {
    margin-top: 100px;
    text-align: right;
}

.picture {
    position: relative;
    width: 50%;
    padding: var(--space);
}

.text {
    position: absolute;
    background-color: var(--seconday);
    bottom: 10%;
    right: 6%;
    width: 70%;
    text-align: left;
    padding: 5px;
}

#about-me {
    font-size: var(--size);
}

#work {
    font-size: var(--size);
}

#contact {
    font-size: var(--size);
}

/* effect */
header ul li a:hover, footer ul li p:hover {
    color: var(--seconday);
}

.picture:hover .hover  {
    box-shadow: 10px 10px 5px var(--primary);
    filter: none;
}

.picture:hover .text  {
    box-shadow: 10px 10px 5px var(--primary);
    background-color: lightgray;
}

/* media part */
@media screen and (max-width: 768px) {
    .picture {
      width: 100%;
    }  

    header {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 992px) {
    header {
        margin-bottom: 50px;
    }
}  

/* animation */
@keyframes start {
    0% {
        transform: rotate(0deg);
        right: 0px;
    }

    25% {
        transform: rotate(20deg);    
        right: 0px;
    }

    50% {
        transform: rotate(0deg);
        right: 500px;
    }

    55% {
        transform: rotate(0deg);
        right: 500px;
    }

    70% {
        transform: rotate(0deg);
        right: 500px;
    }

    100% {
        transform: rotate(-360deg);
        right: 0px;
    }
}