:root {
    --primary: #161561;
    --seconday: #537788;
    --space: 2.5%;
    --size: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightgray;
    color: rgb(10, 9, 46);
    list-style-type: none;
    text-decoration: none;
    font-family: 'PT Sans Narrow', sans-serif;
}

header {
    position: relative;
    height: 30vh;
    border-bottom: 10px solid #161561 ;
}

header h1 {
    background-color: var(--seconday);
    color: lightgray;
    padding-left: 20%;
    padding-top: 0.3%;
    padding-bottom: 0.9%;
    padding-right: 1%;
}


header ul {
    display: flex;
}

header ul li {
    margin: 20px;
    font-weight:700;
    border-bottom: 3px solid var(--seconday);
}

header nav img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80%;
}

nav h2 {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1%;
}

main {
    padding: var(--space);
}

main h2 {
    text-align: right;
    width: 20%;
    padding: var(--space);
}

section {
    display: flex;
}

article img {
    border: 5px solid var(--seconday);    
    filter: grayscale(80%);
    width: 100%;
}
/* article img {
    border: 5px solid var(--seconday);    
    position: absolute;
    
    width: 100%;
} */

section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    padding: var(--space);
}

footer h2 {
    width: 20%;
    padding: var(--space)
}

footer ul li{
    border-top: 3px solid var(--seconday);
}

a {
    font-size: 20px;
}

h4 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

.right-box {
    padding: var(--space);
    width: 70%;
}

.verticle {
    border-left: thick solid var(--primary);
}

.right {
    float: right;
}

.left {
    float: left;
}

.space {
    margin-top: 100px;
    text-align: right;
}

.picture {
    position: relative;
    width: 50%;
    padding: var(--space);
}

.text {
    position: absolute;
    bottom: 10%;
    right: 2.5%;
    width: 70%;
}

#about-me {
    font-size: var(--size);
}

#work {
    font-size: var(--size);
}

#contact {
    font-size: var(--size);
}

/* effect */
header ul li a:hover, footer ul li p:hover {
    color: var(--seconday);
}

article img:hover {
    filter: none;    
    box-shadow: 5px 5px 2px var(--primary);
}

.text:hover {
    box-shadow: 5px 5px 2px var(--primary);
}

@media screen and (max-width: 768px) {
    .picture {
      width: 100%;
    }
  }

@media screen and (max-width: 992px) {

}  
/* animation */